$icon-font-path: "/bower_components/sass-bootstrap/fonts/";

@import "compass/reset";
@import "compass/css3/box-shadow";
@import "compass/css3";
@import url(https://fonts.googleapis.com/css?family=Asap);
//@import 'sass-bootstrap/lib/bootstrap';

//colours
$orange: #ff9900;
$dark-orange: #cc7a00;
$light-orange: #ffcc80;
$light-white: #f2f2f2;
$very-light-white: #F5F5F5;
$dark-grey: #1a1a1a;
$mid-grey: #808080;
$light-grey: #cccccc;
$warning-red: #cc3300;

body {

  background-color: $light-white;
  font-family: Helvetica, Arial, sans-serif;
  color: $dark-grey;
}

nav.side-nav {

  padding: 5px 0px;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 300px;
  height: 100%;
  background-color: $orange;
  border-right: 1px solid $dark-orange;

  @include box-shadow(1px 0px 10px 2px $light-grey);

  h1 {
    font-family: 'Asap', sans-serif;
    color: $light-white;
    font-size: 2em;

    img {

      margin: 0px 5px;
      display:inline-block;
      width: 30px;
    }
  }

  ul {

    padding-top: 10px;

    li {

      padding: 5px;
      border-top: 1px solid $orange;
      background-color: $dark-orange;

      &:last-child {
        border-bottom: 1px solid $orange;
      }

      &:hover {

        background-color: $orange;
      }

      a {

        display: inline-block;
        width: 100%;
        color: $light-white;
        font-size: 1.2em;
        text-decoration: none;

        &:hover {

          text-decoration: none;
        }
      }
    }
  }
}

form {

  fieldset {

    div {
      padding-bottom: 5px;
    }

    label {

      width: 100px;
      display: inline-block;
      color: $light-white;
    }

    input, button {

      height: 24px;
      background-color: $light-white;
      border: 1px solid $dark-orange;
      width: 250px;
      display: inline-block;
      font-size: 1em;
      color: $dark-grey;
      padding:3px;

      @include border-radius(3px);

      &[type='submit']{
        width: auto;
        height: 32px;
        padding: 0px 10px;

        &:hover {

          cursor: pointer;
          color: $light-white;
          background-color: $dark-orange;
        }
      }
    }
  }

  .warning {
    color: $warning-red;
  }
}

.editor-form {

  .field {
    margin-bottom: 10px;
    padding: 10px;
    background-color: $very-light-white;
  }

  .warning {
    display: inline-block;
    padding-left: 10px;
  }

  label {
    color: $orange;
  }

  button, input[type="submit"]{

    font-size: 1em;
    height: 32px;
    padding: 0px 10px;
    color: $light-white;
    background-color: $orange;
    border: 1px solid $orange;

    @include border-radius(3px);

    &:hover {
      cursor: pointer;
      color: $light-white;
      background-color: $dark-orange;
      border-color: $dark-orange;
    }
  }
}

.loading {

  position: absolute;
  top:0px;
  bottom:0px;
  width: 100%;
  z-index: 1000;
  background-color: $light-white;

  img {
    display: block;
    width: 106px;
    height: 106px;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2000;
    margin: -50px 0px 0px -50px;
  }
}

.login-form {

  padding-top: 20px;

  label {

    width: 80px;
  }

  input[type="submit"]{

    margin-left:84px;
  }

  .warning {
    padding-bottom: 20px;
  }
}

.login-container {

  .login-box {

    @include box-sizing(border-box);

    position: absolute;
    top: 50%;
    left: 50%;
    width: 450px;
    height: 300px;
    margin: -250px 0px 0px -225px;
    background-color: $orange;
    padding: 10px;
    border: 1px solid $dark-orange;

    @include box-shadow(1px 1px 10px 2px $light-grey);

    h1 {
      font-family: 'Asap', sans-serif;
      color: $light-white;
      font-size: 2em;

      img {

        margin: 0px 5px;
        display:inline-block;
        width: 30px;
      }
    }
  }
}

.view {
  margin-left: 300px;
  padding: 20px;
}

h1.control-header {

  color: $orange;
  font-family: 'Asap', sans-serif;
  font-size: 1.4em;
  padding-bottom: 5px;
  margin-bottom: 10px;
  border-bottom: 1px solid $orange;
}

.button {

  display: inline-block;
  background-color: $orange;
  color: $light-white;
  height: 30px;
  line-height:27px;
  text-decoration: none;
  padding: 0px 5px;
  @include border-radius(3px);

  &:hover {
    text-decoration: none;
    background-color: $dark-orange;
  }
}

