@import url(https://fonts.googleapis.com/css?family=Asap);
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/\.rbenv\/versions\/2\.2\.2\/lib\/ruby\/gems\/2\.2\.0\/gems\/compass-core-1\.0\.3\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\000035}}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/\.rbenv\/versions\/2\.2\.2\/lib\/ruby\/gems\/2\.2\.0\/gems\/compass-core-1\.0\.3\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\0000322}}
html {
  line-height: 1;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/\.rbenv\/versions\/2\.2\.2\/lib\/ruby\/gems\/2\.2\.0\/gems\/compass-core-1\.0\.3\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\0000324}}
ol, ul {
  list-style: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/\.rbenv\/versions\/2\.2\.2\/lib\/ruby\/gems\/2\.2\.0\/gems\/compass-core-1\.0\.3\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\0000326}}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/\.rbenv\/versions\/2\.2\.2\/lib\/ruby\/gems\/2\.2\.0\/gems\/compass-core-1\.0\.3\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\0000328}}
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/\.rbenv\/versions\/2\.2\.2\/lib\/ruby\/gems\/2\.2\.0\/gems\/compass-core-1\.0\.3\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\0000330}}
q, blockquote {
  quotes: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/\.rbenv\/versions\/2\.2\.2\/lib\/ruby\/gems\/2\.2\.0\/gems\/compass-core-1\.0\.3\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\00003103}}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/\.rbenv\/versions\/2\.2\.2\/lib\/ruby\/gems\/2\.2\.0\/gems\/compass-core-1\.0\.3\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\0000332}}
a img {
  border: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/\.rbenv\/versions\/2\.2\.2\/lib\/ruby\/gems\/2\.2\.0\/gems\/compass-core-1\.0\.3\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\00003116}}
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/www\/reefknot\/cms\/sass\/main\.scss}line{font-family:\0000320}}
body {
  background-color: #f2f2f2;
  font-family: Helvetica, Arial, sans-serif;
  color: #333333;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/www\/reefknot\/cms\/sass\/main\.scss}line{font-family:\0000327}}
nav.side-nav {
  padding: 5px 0px;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 300px;
  height: 100%;
  background-color: #ff9900;
  border-right: 1px solid #cc7a00;
  -moz-box-shadow: 1px 0px 10px 2px #cccccc;
  -webkit-box-shadow: 1px 0px 10px 2px #cccccc;
  box-shadow: 1px 0px 10px 2px #cccccc;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/www\/reefknot\/cms\/sass\/main\.scss}line{font-family:\0000340}}
nav.side-nav h1 {
  font-family: 'Asap', sans-serif;
  color: #f2f2f2;
  font-size: 2em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/www\/reefknot\/cms\/sass\/main\.scss}line{font-family:\0000345}}
nav.side-nav h1 img {
  margin: 0px 5px;
  display: inline-block;
  width: 30px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/www\/reefknot\/cms\/sass\/main\.scss}line{font-family:\0000353}}
nav.side-nav ul {
  padding-top: 10px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/www\/reefknot\/cms\/sass\/main\.scss}line{font-family:\0000357}}
nav.side-nav ul li {
  padding: 5px;
  border-top: 1px solid #ff9900;
  background-color: #cc7a00;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/www\/reefknot\/cms\/sass\/main\.scss}line{font-family:\0000363}}
nav.side-nav ul li:last-child {
  border-bottom: 1px solid #ff9900;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/www\/reefknot\/cms\/sass\/main\.scss}line{font-family:\0000367}}
nav.side-nav ul li:hover {
  background-color: #ff9900;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/www\/reefknot\/cms\/sass\/main\.scss}line{font-family:\0000372}}
nav.side-nav ul li a {
  display: inline-block;
  width: 100%;
  color: #f2f2f2;
  font-size: 1.2em;
  text-decoration: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/www\/reefknot\/cms\/sass\/main\.scss}line{font-family:\0000380}}
nav.side-nav ul li a:hover {
  text-decoration: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/www\/reefknot\/cms\/sass\/main\.scss}line{font-family:\0000393}}
form fieldset div {
  padding-bottom: 5px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/www\/reefknot\/cms\/sass\/main\.scss}line{font-family:\0000397}}
form fieldset label {
  width: 100px;
  display: inline-block;
  color: #f2f2f2;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/www\/reefknot\/cms\/sass\/main\.scss}line{font-family:\00003104}}
form fieldset input, form fieldset button {
  height: 24px;
  background-color: #f2f2f2;
  border: 1px solid #cc7a00;
  width: 250px;
  display: inline-block;
  font-size: 1em;
  color: #333333;
  padding: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/www\/reefknot\/cms\/sass\/main\.scss}line{font-family:\00003117}}
form fieldset input[type='submit'], form fieldset button[type='submit'] {
  width: auto;
  height: 32px;
  padding: 0px 10px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/www\/reefknot\/cms\/sass\/main\.scss}line{font-family:\00003122}}
form fieldset input[type='submit']:hover, form fieldset button[type='submit']:hover {
  cursor: pointer;
  color: #f2f2f2;
  background-color: #cc7a00;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/www\/reefknot\/cms\/sass\/main\.scss}line{font-family:\00003132}}
form .warning {
  color: #cc3300;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/www\/reefknot\/cms\/sass\/main\.scss}line{font-family:\00003139}}
.editor-form .field {
  margin-bottom: 10px;
  padding: 10px;
  background-color: #F5F5F5;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/www\/reefknot\/cms\/sass\/main\.scss}line{font-family:\00003145}}
.editor-form .warning {
  display: inline-block;
  padding-left: 10px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/www\/reefknot\/cms\/sass\/main\.scss}line{font-family:\00003150}}
.editor-form label {
  color: #ff9900;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/www\/reefknot\/cms\/sass\/main\.scss}line{font-family:\00003154}}
.editor-form button, .editor-form input[type="submit"] {
  font-size: 1em;
  height: 32px;
  padding: 0px 10px;
  color: #f2f2f2;
  background-color: #ff9900;
  border: 1px solid #ff9900;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/www\/reefknot\/cms\/sass\/main\.scss}line{font-family:\00003165}}
.editor-form button:hover, .editor-form input[type="submit"]:hover {
  cursor: pointer;
  color: #f2f2f2;
  background-color: #cc7a00;
  border-color: #cc7a00;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/www\/reefknot\/cms\/sass\/main\.scss}line{font-family:\00003174}}
.loading {
  position: absolute;
  top: 0px;
  bottom: 0px;
  width: 100%;
  z-index: 1000;
  background-color: #f2f2f2;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/www\/reefknot\/cms\/sass\/main\.scss}line{font-family:\00003183}}
.loading img {
  display: block;
  width: 106px;
  height: 106px;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2000;
  margin: -50px 0px 0px -50px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/www\/reefknot\/cms\/sass\/main\.scss}line{font-family:\00003195}}
.login-form {
  padding-top: 20px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/www\/reefknot\/cms\/sass\/main\.scss}line{font-family:\00003199}}
.login-form label {
  width: 80px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/www\/reefknot\/cms\/sass\/main\.scss}line{font-family:\00003204}}
.login-form input[type="submit"] {
  margin-left: 84px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/www\/reefknot\/cms\/sass\/main\.scss}line{font-family:\00003209}}
.login-form .warning {
  padding-bottom: 20px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/www\/reefknot\/cms\/sass\/main\.scss}line{font-family:\00003216}}
.login-container .login-box {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 450px;
  height: 300px;
  margin: -250px 0px 0px -225px;
  background-color: #ff9900;
  padding: 10px;
  border: 1px solid #cc7a00;
  -moz-box-shadow: 1px 1px 10px 2px #cccccc;
  -webkit-box-shadow: 1px 1px 10px 2px #cccccc;
  box-shadow: 1px 1px 10px 2px #cccccc;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/www\/reefknot\/cms\/sass\/main\.scss}line{font-family:\00003232}}
.login-container .login-box h1 {
  font-family: 'Asap', sans-serif;
  color: #f2f2f2;
  font-size: 2em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/www\/reefknot\/cms\/sass\/main\.scss}line{font-family:\00003237}}
.login-container .login-box h1 img {
  margin: 0px 5px;
  display: inline-block;
  width: 30px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/www\/reefknot\/cms\/sass\/main\.scss}line{font-family:\00003247}}
.view {
  margin-left: 300px;
  padding: 20px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/www\/reefknot\/cms\/sass\/main\.scss}line{font-family:\00003252}}
h1.control-header {
  color: #ff9900;
  font-family: 'Asap', sans-serif;
  font-size: 1.4em;
  padding-bottom: 5px;
  margin-bottom: 10px;
  border-bottom: 1px solid #ff9900;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/www\/reefknot\/cms\/sass\/main\.scss}line{font-family:\00003262}}
.button {
  display: inline-block;
  background-color: #ff9900;
  color: #f2f2f2;
  height: 30px;
  line-height: 27px;
  text-decoration: none;
  padding: 0px 5px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/www\/reefknot\/cms\/sass\/main\.scss}line{font-family:\00003273}}
.button:hover {
  cursor: pointer;
  text-decoration: none;
  background-color: #cc7a00;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/www\/reefknot\/cms\/sass\/main\.scss}line{font-family:\00003280}}
.orange {
  color: #ff9900;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/www\/reefknot\/cms\/sass\/main\.scss}line{font-family:\00003284}}
.delete-icon {
  display: inline-block;
  width: 32px;
  height: 32px;
  background: url("../images/delete-icon.png") no-repeat top left;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/www\/reefknot\/cms\/sass\/main\.scss}line{font-family:\00003291}}
.delete-icon:hover {
  cursor: pointer;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/www\/reefknot\/cms\/sass\/main\.scss}line{font-family:\00003296}}
.edit-icon {
  display: inline-block;
  width: 32px;
  height: 32px;
  background: url("../images/edit-icon.png") no-repeat top left;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/www\/reefknot\/cms\/sass\/main\.scss}line{font-family:\00003302}}
.edit-icon:hover {
  cursor: pointer;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/www\/reefknot\/cms\/sass\/main\.scss}line{font-family:\00003309}}
.filter-form label {
  width: 120px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/www\/reefknot\/cms\/sass\/main\.scss}line{font-family:\00003313}}
.filter-form .delete-icon {
  position: relative;
  top: 10px;
  margin-top: -10px;
  margin-left: 10px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/www\/reefknot\/cms\/sass\/main\.scss}line{font-family:\00003322}}
.no-results {
  margin-top: 10px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/www\/reefknot\/cms\/sass\/main\.scss}line{font-family:\00003328}}
.object-list-table {
  margin-top: 10px;
  border-top: 1px solid #ff9900;
  width: 100%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/www\/reefknot\/cms\/sass\/main\.scss}line{font-family:\00003336}}
.object-list-table tr th {
  padding: 5px;
  background-color: #e6e6e6;
  color: #ff9900;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/www\/reefknot\/cms\/sass\/main\.scss}line{font-family:\00003343}}
.object-list-table tr td {
  border-collapse: collapse;
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
  padding: 5px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/www\/reefknot\/cms\/sass\/main\.scss}line{font-family:\00003350}}
.object-list-table tr td.edit, .object-list-table tr td.delete {
  width: 52px;
  max-width: 52px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/www\/reefknot\/cms\/sass\/main\.scss}line{font-family:\00003359}}
.object-list-table tr.odd td {
  background-color: #F5F5F5;
}
